<div class="blog-header">
  <div class="row">
    <h1 class="blog-title col-sm-8"><%= title %></h1>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar blog-time">
      <embed wmode="transparent" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf" quality="high" bgcolor="#ffffff" name="honehoneclock" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" height="70" width="160" align="middle">
    </div>
  </div>
  <p class="blog-post-meta"><%= pubTime %> by
    <a href="http://www.cnblogs.com/YikaJ/">
      YikaJ
    </a>
  </p>
</div>