<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于 YikaJ</h4>
            <p>Blog: http://www.cnblogs.com/YikaJ/</p>
            <p>Github: https://github.com/YikaJ</p>
            <p>(尼玛里面什么都没有！)</p>
          </div>
          <div class="sidebar-module">
            <h4><%= title %></h4>
            <ol class="list-unstyled">
              <li><a href="#"><%= articleTitle %></a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->